.deposit-modal {
  width: 370px;
  background-color: #12172d;
  border-radius: 6px;
  padding: 40px;
  color: #cfd3e5;
  font-family: Planc, sans-serif;
}

.deposit-modal .heading {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 15px 0px;
}

.deposit-modal .heading h3 {
    width: 80%;
    text-align: center;
    font-weight: 600;
    margin: 0px;
}

.deposit-modal .heading span {
    font-size: 24px;
}

.deposit-modal .heading span:hover {
    cursor: pointer;
}

.deposit-modal .form-holder {
    background-color: #31354B;
    color: #CFD3E5;
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-holder .asset-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.form-holder .asset-icon {
    margin-right: 20px;
    position: relative;
}


.form-holder .asset-icon .chain-icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: -3px;
    bottom: 3px;
    border: 1px solid #0F1427;
}

.form-holder .input-holder {
    display: flex;
    flex-direction: column;
}

.deposit-modal button {
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    color: #0F1427;
    width: 100%;
    background-color: #40e080;
    padding: 12px;
    border-radius: 6px;
    margin-top: 15px;
    font-family: inherit;
}

.deposit-modal button.disabled {
    background-color: #32975a;
}

.deposit-modal button.disabled:hover {
    cursor: auto;
}

.display-amount {
    font-family: Inter, sans-serif;
    background: inherit;
    border: none;
    outline: none;
    font-size: inherit;
    caret-color: #CFD3E5;
    color: #CFD3E5;
}

.display-amount::placeholder {
    color: #CFD3E5;
}

.display-value {
    color: #B1B1B1;
    font-size: 12px;
}

.asset-selection {
    padding-left: 20px;
    padding-right: 20px;
}

.asset-selection .chain-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.asset-selection .chain-holder .asset-item {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.chain-holder .asset-item > img {
    width: inherit;
    height: inherit;
    border-radius: 6px;
}

.asset-item.selected {
    border: 1px solid #32975a;
}

.asset-selection .search-bar {
    background-color: #31354B;
    font-size: 16px;
    padding: 14px;
    color: #D9D9D9;
    caret-color: #D9D9D9;
    border-radius: 25px;
    margin: 20px auto;
    box-sizing: border-box;
}

.asset-selection .search-bar input {
    color: inherit;
    outline: none;
    border: none;
    background: inherit;
    font-size: inherit;
    font-weight: 600;
    width: 100%
}

.asset-selection .token-holder {
    height: 180px;
    overflow-y: scroll;
}

.token-holder .token-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 2px solid #1a1e2e;
}

.token-holder .token-item:hover {
    cursor: pointer;
}

.token-holder .token-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.scrollable-div::-webkit-scrollbar {
    width: 7px;
}

.scrollable-div::-webkit-scrollbar-track {
    background: #918f8f;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background-color: #2b3043;
    border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: #2b3043;
}

.scrollable-div::-webkit-scrollbar-corner {
    background-color: #918f8f;
}
